<ion-view>
  <div class="header-bar-background"></div>

  <ion-content class = "scroll-style" >
    <div class="list food-list">
      <div class="food-card" ng-repeat = "drink in drinks">
          <img src = "{{drink.pic}}">
          <h4> {{drink.title}} </h4>
          <p class="price"> R$ {{drink.price}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
