<ion-view>
  <div class="header-bar-background"></div>
  <ion-content class = "scroll-style" >
    <div class="list food-list">
      <div class="food-card" ng-repeat = "food in foods">
          <img src = "{{food.pic}}">
          <h4> {{food.title}} </h4>
          <p class="price"> R$ {{food.price}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
