<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

  <!-- Dashboard Tab -->
  <ion-tab icon-off="ion-fork" style="margin-top= 10%;" icon-on="ion-fork" href="#/tab/foods">
    <ion-nav-view name="tab-foods"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab icon-off="ion-wineglass" icon-on="ion-wineglass" href="#/tab/drinks">
    <ion-nav-view name="tab-drinks"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon-off="ion-ios-help-outline" icon-on="ion-ios-help-outline" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>


</ion-tabs>
