
<style>


.scroll {
height: 100%;
}

</style>
<ion-view>
  <div class="header-bar-background-low"></div>

  <ion-content class = "scroll-style" style="background-color: #607D8B" >

    <div class="info-picture-container">
      <div class="info-picture" style="background-image: url('{{info.pic}}')";></div>
    </div>
    <div>
      <div class="info-data-container">
        <div class="data">
          <i class="icon ion-ios-telephone info-icon"></i>

          <h4>Telefone:</h3>
            <p> {{info.phone}} </p>
          </div>
          <div class="data">
            <i class="icon ion-location info-icon"></i>

            <h4>Endereço:</h3>
              <p> {{info.address}}</p>
            </div>
            <div class="data">
              <i class="icon ion-clock info-icon"></i>

              <h4>Horário de Atendimento:</h3>
                <p> {{info.hours}}</p>
              </div>
            </div>
          </div>
        </ion-content>
      </ion-view>
