

@font-face {
font-family: 'Cantina';
src: url('../fonts/handwritten.ttf');
}

.tab-item {
  margin-top: 1.0%;
}

.header-bar{
  height: auto;
  width: 100%;
  background-color: #FAFAFA;

  padding: 1%;
  position: absolute;
  z-index: 10;
}

.header-bar-container{
  height: auto;
  width: auto;
  margin-left: 30%;
}

.header-bar-icon{
  margin-top: 0.1%;
  margin-bottom: 2%;
  margin-right: 2%;

  height: 8%;
  width: 8%;
  float:left;

}

.header-bar-container h4 {
  font-family: 'Cantina';
  font-size: 6vw;
  margin-left: 5%;
}
.header-bar-background {
  height: 20%;
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.7));
  position: absolute;
  z-index: 8;
}

.header-bar-background-low {
  height: 20%;
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.3));
  position: absolute;
  z-index: 8;
}

.scroll-style {
  padding: 0;
  margin-top: 13%;
}
.food-card {
   position: relative;
   width: 100%;
   height: 180px;
   padding: 0px;
   margin: 0px;
   overflow: hidden;

}

.food-card img {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

.food-card h4 {
   position: absolute;
   bottom: -10px;
   left: 0;
   width: 100%;
   background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.6));
   color: white;
   font: Sans-Serif;
   padding: 10px;

}

.food-list {
  padding: 0;
  margin: 0;
}

.nav-bar {

     position: absolute;
     bottom: 0;
     height: auto;
     background-color:red;
     padding-right: 2%;
     width: 100%;
}

.nav-bar-icon {
   font-size: 6vw;
   float: left;
   margin-left: 46%;
   color: #9E9E9E;

}

.nav-bar-icon-black {
  color: black;
}

.nav-bar-icon-gray {
  color: #9E9E9E;
}

.icon-container{
  width: 33%;
  height: auto;
  padding: 15px;
  float:left;
}


.price {
   color: #000;
   font-size: 14px;
   font-weight: 700;
   bottom: 100px;
   right: 20px;
   line-height: 60px;
   width: 60px;
   height: 60px;
   position: absolute;
   background: #fff;
   border-bottom:5px solid #000;
   text-align: center;
}

.info {
  height: 100%;
  width: 100%;
  background-color: #FAFAF0;
  padding: 15%;


}

.info img {
  width: 100%;
  padding: 15%;
}

.info-picture-container{
  position: relative;
  width: 100%;
  height: 40%;
}
.info-picture{
  height: 100%;
  width: 100%;
  background-image: url("../img/cantina_place.jpg");
  background-position: center;
}
.info-data-container{
  padding: 5%;
  height: auto;
}

.data h4, p {
  color: white;
}

.info-icon {
  color: white;
   float: left;
   font-size: 5vw;
   margin-right: 4%;

}
